* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Times New Roman', Times, serif;
  min-height: 100vh;
  background-image: url(../assets/calculator-bg-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

span {
  color: white; 
}

#container {
  border: 2px solid rgb(8, 117, 108);
  width: 22rem;
  border-radius: 1.4rem;
  padding: 1rem;
  padding-bottom: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  position: relative;
  top: 5rem;
}

#display {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 0.5rem;
  width: 90%;
  min-height: 15vh;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 2.5rem;
  margin: 0.7rem;
  padding-right: 0.2rem;
  color: rgb(2, 2, 2);
  background-color: rgb(179, 171, 171);
  word-wrap: break-word;
  word-break: break-all;
}

button {
  border-radius: 1rem;
  font-size: 1.4rem;
  background-color: rgb(132, 145, 201);
  color: black;
}

#sqrt-op, #power-op, #modulo-op,
#divide-op, #multiply-op, #add-op,
#subtract-op {
  background-color: rgb(44, 66, 167);
}

#clear, #delete {
  background-color: rgb(216, 127, 45);
}

#equals {
  background-color: rgb(6, 100, 14);
}

#modifiers-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 1rem;
}

#clear, #delete {
  width: 8rem;
  height: 4rem;
}

#calc-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

#calc-grid button {
  width: 4rem;
  height: 4rem;
  text-align: center;
}

#calc-grid #equals {
  width: 8.2rem;
}

footer {
  margin-top: auto;
  color: white;
  margin-bottom: 1.2rem;
  font-size: 1.2rem;
}

/* Hover Effects */
button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#equals:hover {
  background-color: rgb(74, 133, 80);
}

#delete:hover, #clear:hover {
  background-color: rgb(219, 163, 88);
}

@media (max-width: 640px) {
  #container {
    position: relative;
    bottom: 30rem;
    width: 20rem;
  }

  footer {
    position: relative;
    top: -3rem;
  }
}

@media (max-width: 375px) and (max-height: 667px) {
  p {
    display: none;
  }

  #container {
    margin-top: -3rem;
  }
}

@media (max-height: 806px) {
  p {
    display: none;
  }
}